/* HEADER */

.header {
  width: 100%;
  height: 70px;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  width: 100%;
  max-width: 1294px;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px; /* padding à droite et gauche  */
}

.nav__logo {
  display: flex;
  gap: 7px;
}

.nav__logo-img {
  height: auto; /* pour garder proportions de l'image */
  width: 30px;
  align-items: center;
}

.nav__logo-txt {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
}
.nav__menu {
  width: 100%;
  max-width: 365px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu-liste {
  width: 176px;
  height: 26px;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__menu-li {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
}

.nav__menu-all-button {
  color: var(--white);
  font-size: var(--texte-bouton-font-size);
  font-weight: var(--texte-bouton-font-weight);
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px 15px;
}
.button-header {
  width: 149px;
  height: 38px;
}

.nav__menu-heart {
  height: auto; /* pour garder proportions de l'image */
  width: 20px;
}

.nav__menu-lien {
  text-decoration: none;
}

@media screen and (max-width: 574px) {
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav__menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }

  .nav__menu-liste {
    align-items: flex-start;
  }
  .header {
    height: 190px;
  }
  .button-header {
    width: 300px;
  }
}
