* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}

html,
body {
  /* height: 100%; */
  /* Pour espacer mes sections */
  /* display: flex */
  /* flex direction :colomn */
}
main {
  /* display : flex */

  /* Pour espacer toutes mes sections sections */
  /* flex: 1 */
}
